/* Style for the object creator section */
#object-creator {
  position: absolute;
  top: 150px; /* Adjust as needed for spacing */
  right: 20px; /* Positions it in the top right corner */
  background-color: #f4f1de; /* Light Beige */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 10;
}

/* Style for the inventory grid */
#inventory-grid {
  margin-top: 85px; /* Adjust to prevent overlap with object creator */
}

table {
  width: 80%; 
  border-collapse: collapse; /* Remove space between borders */
  margin: 0 auto;
}

th {
  background-color: #3d405b; /* Header background color */
  color: #f4f1de; /* Header text color */
  padding: 10px;
}

td {
  width: calc(80% / 20); /* Width of each cell in the grid */
  height: 40px; /* Height of each cell */
  border: 1px solid #3d405b; /* Light gray border */
  text-align: center; /* Center text in cells */
}